@using LearningCenter.Models.ViewModels.Admin
@model List<UserListViewModel>
@{
    ViewBag.Title = "Users";
}

<div class="row">
    <div class="col-sm-12">
        <h2 class="heading-centered">Users</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        @Html.ActionLink("Add user", "AddUser", null, new { @class = "btn btn-primary btn-block" })
    </div>
    @using (Ajax.BeginForm("SearchUsers", new AjaxOptions()
    {
        HttpMethod = "GET",
        AllowCache = true,
        UpdateTargetId = "search-result",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div class="col-sm-8">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Search..."/>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-success btn-block"/>
            </div>
        </div>
    }
    <br/>
</div>
<div class="row">
    <div id="loadingElement" hidden="hidden">
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
        </div>
    </div>
    <div id="search-result">
        @Html.Partial("_SearchUsers", Model)
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/loading-bar.js" type="text/javascript"></script>
}