@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <img src="~/Content/wrong.jpeg" alt="Error" />
        <h2 class="text-danger">@Model.Exception.Message</h2>
    </div>
</div>
<div class="row">
    @Html.ActionLink("Back to Home page", "Index", "Home", new { area = "" }, null)
</div>