body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width:800px;
}

.navbar-inverse {
    background-color: #d9230f;
    border-color: #a91b0c;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #d9230f;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 40px;
}

.homePage {
    text-align: center;
    background-image: url(https://i.ytimg.com/vi/OUVdmlVcPpM/maxresdefault.jpg);
    color: whitesmoke;
    background-size: cover;
}

.lead{
    background-color: rgba(169,27,12, 0.3);
}
.heading-centered {
    text-align: center;
}


.custom-form {
     background:rgba(169,27,12, 0.1);
    border-radius: 25px;

}
hr {
    border-top: 1px solid rgb(169,27,12);
}

.topicViewModel {
     background:rgba(169,27,12, 0.1);
    border:1px solid #d9230f;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    
}

.panel-title {
    font-size: 22px;
}

table {
    table-layout: fixed;
}
.navbar .navbar-inversed .navbar-fixed-top .container {
    width: 90%;
}
