@using LearningCenter.Models.ViewModels.Quiz
@model PreviewQuestionViewModel

@{
    ViewBag.Title = "View Question";
}

@Html.DisplayForModel("PreviewQuestionViewModel")

<div class="row">
    <div class="col-sm-2 col-sm-offset-2">
        @Html.ActionLink("Back to list", "QuestionList", "Admin", new { area = "Admin" }, new { @class = "btn btn-block btn-default" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Edit question", "EditQuestion", "Quizzes", new { area = "Admin", id = @Model.Id }, new { @class = "btn btn-block btn-warning" })
    </div>
</div>