@using LearningCenter.Models.ViewModels.Quiz
@model PreviewQuizViewModel

@{
    ViewBag.Title = "View Quiz";
}

@Html.DisplayForModel("PreviewQuizViewModel")

<div class="row">
    <div class="col-sm-2 col-sm-offset-2">
        @Html.ActionLink("Back to list", "QuizList", "Admin", new {area="Admin"}, new {@class = "btn btn-block btn-default"})
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Edit quiz", "EditQuiz", "Quizzes", new { area = "Admin", id=@Model.Id }, new { @class = "btn btn-block btn-warning" })
    </div>
</div>