@using LearningCenter.Models.ViewModels.Units
@model UnitDetailsViewModel
    
<h2 class="heading-centered">@Html.DisplayFor(model => model.Title)</h2>
<hr />
<iframe src="@Html.DisplayFor(model => model.ContentUrl)" width="810" height="464" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
