@model string

<div class="container jumbotron">
    <h2 class="heading-centered">Description</h2>
    <hr />
    <div class="col-sm-offset-1 col-sm-10">
        <p>@Html.DisplayFor(model => model)</p>
    </div>
</div>
