@{
    ViewBag.Title = "Learning Center";
}
<br />
<br />

<div class="container jumbotron homePage">
    <h1 class="">Welcome to the </h1>
    <h1 class="">Online Learning Center</h1>
    <br />
    <p class="lead">
        Anyone who stops learning is old, whether at twenty or eighty.
        Anyone who keeps learning stays young. The greatest thing in life is to keep your mind young.
    </p>
    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="http://www.shsu.edu/~dl_www/images/email/BooksPC3.png" alt="book image" />
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>