@{
    ViewBag.Title = "Learning Center";
}
<br />
<br />

<div class="container jumbotron homePage">

    <h1 class="">Learning Center</h1>
    <h1> Knowledge</h1>
    <br />
    <p class="lead">
        Anyone who stops learning is old, whether at twenty or eighty.
        Anyone who keeps learning stays young. The greatest thing in life is to keep your mind young.
    </p>
    <br />
    <br />
</div>
@* 0B3n5gZ-tPeP6Z01hY1lOdU9ITk0 *@
<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            We are driven by our belief in the power of education to change people’s
            lives for the better and are passionate about providing an overall learning experience
            that meets their needs and helps them to achieve life goals.
        </p>
        <p>
            @Html.ActionLink("Our courses »", "All", "Courses", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <img src="http://www.shsu.edu/~dl_www/images/email/BooksPC3.png" alt="book image" />
    </div>
    <div class="col-md-4">
        <h2>Forum</h2>
        <p>You can always find answers to your questions in the forum.</p>
        <p>
            @Html.ActionLink("Go to forum »", "All", "Forum", new {area = "Forum"}, new {@class = "btn btn-primary"})
        </p>
    </div>
</div>

@*<div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <img src="https://www.dropbox.com/s/23racrz0bkqr5m0/avG5mnE_460s.jpg?raw=1" alt="image"/>
        </div>
    </div>*@