@using LearningCenter.Models.ViewModels.Quiz
@model PreviewQuestionViewModel

<h2 class="heading-centered">Question:</h2>
<div class="row">
    <div class="col-sm-10 col-sm-offse-1">
        <div style="font-size: 18px">
            <blockquote>
                @Html.DisplayFor(model => model.Description)
            </blockquote>
        </div>
    </div>
</div>
<hr />
<h3 class="heading-centered">Answers:</h3>
@foreach (var answer in Model.Answers)
{
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            @if (answer.IsCorrect)
            {
                <p style="font-size: 16px" class="text-success">
                    @Html.DisplayFor(model => answer.Value)
                </p>
            }
            else
            {
                <p style="font-size: 16px" class="text-danger">
                    @Html.DisplayFor(model => answer.Value)
                </p>
            }
        </div>
    </div>
}